<dl class="tabs">
       
        <!-- ko foreach: elections -->
        <dd><a data-bind="attr: {href: '#'+Name()}, text: Name"></a></dd>
        <!-- /ko -->
    <dd><a href="#add">Add election</a></dd>
</dl>
<ul class="tabs-content">
    <!-- ko foreach: elections -->
    <li data-bind="attr: {id: Name()+'Tab'}">
        <table data-bind="foreach: Votes">
            <thead>
                <tr><th data-bind="text: new Date(Timestamp()).toLocaleTimeString()"></th></tr>
            </thead>
            <tr data-bind="foreach: Votes">
                <td data-bind="text: Party"></td>
            </tr>
            <tr data-bind="foreach: Votes">
                <td data-bind="text: Votes"></td>
            </tr>
        </table>
    </li>
    <!-- /ko -->
    <li id="addTab">
        <button class="button" data-bind="click: addVote">Add vote</button>
        <button class="button" data-bind="click: addLine">Add line</button>
        <!-- ko with: newVote -->
        <table data-bind="foreach: Votes">
            <tr>
                <td><input type="text" data-bind="value: Party" /></td>
                <td><input type="number" data-bind="value: Votes" /></td>
            </tr>
        </table>        
        <!-- /ko -->
    </li>
</ul>

@section scripts
{
    <script>
        $(window).load(function () {
            var Vote = function() {
                this.Votes = ko.observableArray();
            };
            var VoteLine = function () {
                this.Party = ko.observable();
                this.Votes = ko.observable();
            };
            var viewModel = function() {
                var self = this;

                this.elections = ko.observableArray();
                this.getElections = function() {
                    $.getJSON("/api/election", function(data) {
                        self.elections(ko.mapping.fromJS(data));
                        if (data && data.length > 0) {
                            self.newVote(ko.mapping.fromJS(data[0].Votes[0]));
                        }
                    });
                };
                this.newVote = ko.observable(new Vote());
                this.addVote = function() {
                    $.post("api/election/1", ko.mapping.toJS(self.newVote()), function() {
                        self.getElections();
                    });
                };
                this.addLine = function() {
                    self.newVote().Votes.push(new VoteLine());
                };
                this.getElections();
            };
            ko.applyBindings(new viewModel());
            
        });
    </script>
}